.body-class {
	font-family: 'Josefin Sans', sans-serif;
}

@keyframes follow {
	0% {
		transform: rotate(0deg) translate(-110px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translate(-110px) rotate(-360deg);
	}
}

/*-----------------------------*/
/* Game Header Styles */
/*-----------------------------*/
.game-header {
	color: #167F92;
	font-size: 25px;
	margin-top: 70px;
	text-align: center;
}

/* End game header styles */

/*-----------------------------*/
/* Primary Content Styles */
/*-----------------------------*/
.primary-content {
	margin-bottom: 50px;
	margin-top: 60px;
}

.game-controls__container {
	margin: 0 auto;
	text-align: center;
}

/*-----------------------------*/
/* Game Leaderboards Styles */
/*-----------------------------*/
.game-leaderboards {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 60%;
}

.game-leaderboards__table {
	border-collapse: collapse;
	width: 100%;
}

.game-leaderboards .game-leaderboards__table tr {
	height: 55px;
	text-align: left;
}

.game-leaderboards .game-leaderboards__table tr:nth-child(odd) {
	background-color: #EAF3F3;
}

.game-leaderboards .game-leaderboards__table th,
.game-leaderboards .game-leaderboards__table td {
	padding-left: 20px;
}

.game-leaderboards .game-leaderboards__table th {
	background-color: #167F92;
	color: #fff;
}

.game-leaderboards__header {
	color: #167F92;
}

.game-leaderboards__current-location {
	margin-bottom: 15px;
}

/* End game leaderboards styles */

/* End primary content styles */

/*-----------------------------*/
/* Light Switch Styles */
/*-----------------------------*/
.game-buttons__lights {
	position: relative;
	display: inline-block;
	margin-right: 15px;
	width: 60px;
	height: 34px;
	top: 12px;
}

.game-buttons__lights input {
	display: none;
}

.game-buttons__lights-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.game-buttons__lights-slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .game-buttons__lights-slider {
	background-color: #86d993;
}

input:focus + .game-buttons__lights-slider {
	box-shadow: 0 0 1px #86d993;
}

input:checked + .game-buttons__lights-slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded game-buttons__lights-sliders */
.game-buttons__lights-slider.round {
	border-radius: 34px;
}

.game-buttons__lights-slider.round:before {
	border-radius: 50%;
}

/* End light switch styles */

/*-----------------------------*/
/* Reset Button Styles */
/*-----------------------------*/
.game-buttons__reset {
	background: #c90835;
	border-radius: 28px;
	color: #ffffff;
	font-size: 15px;
	margin-left: 15px;
	padding: 7px 15px 7px 15px;
	text-decoration: none;
}

/* End reset button styles */

/*-----------------------------*/
/* Lights Off Styles */
/*-----------------------------*/
.body-class.toggle-lights {
	background-color: #1F2739;
}

.toggle-lights .game-header {
	color: #EDCDC2;
}

.toggle-lights .game-leaderboards {
	color: #FB667A;
}

.toggle-lights .game-leaderboards .game-leaderboards__table tr:nth-child(odd) {
	background-color: #1F2739;
}

.toggle-lights .game-leaderboards .game-leaderboards__table th {
	background-color: #2c2c2c;
}

.toggle-lights .game-leaderboards__header {
	color: #EDCDC2;
}

.toggle-lights .game-score {
	color: #EDCDC2;
}

/* End lights off styles */

/*-----------------------------*/
/* Game Score Styles */
/*-----------------------------*/
@keyframes vibrate {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

.game-score {
	font-size: 20px;
	margin-bottom: 30px;
	min-height: 85px;
}

.game-score__life, .final-score {
	font-size: 30px;
}

.game-score__final {
	margin-top: 20px;
}

.game-score__life {
	display: inline-block;
}

.game-score .tooltip {
	background-color: #167F92;
	border-radius: 50%;
	display: inline-block;
	line-height: 27px;
	font-size: 14px;
	margin-left: 15px;
	position: absolute;
	width: 24px;
	height: 24px;
}

.game-score .tooltip:after {
	content: '?';
	font-weight: bold;
	color: #fff;
}

.tooltip:hover p {
	display: block;
	transform-origin: 100% 0;

	-webkit-animation: fadeIn 0.3s ease-in-out;
	animation: fadeIn 0.3s ease-in-out;

}

.tooltip p {
	background-color: #1E2021;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	color: #FFF;
	display: none;
	font-size: 13px;
	line-height: 1.4;
	padding: 10px;
	position: absolute;
	right: -40px;
	text-align: center;
	width: 300px;
}

/* End game-score styles */

/*-----------------------------*/
/* Modal Styles */
/*-----------------------------*/
.game-modal {
	background: rgba(0, 0, 0, 0.8);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}

.game-modal__content {
	background: #fff;
	position: absolute;
	left: 50%;
	padding: 20px;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}

.game-modal__content-header {
	color: #167F92;
	text-align: center;
}

.game-modal__content-button-container {
	margin-top: 40px;
	text-align: center;
}

.game-modal__button {
	background-color: #167F92;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 17px;
	color: #fff;
	height: 40px;
	width: 40%;
}
/* End Modal styles */

/*-----------------------------*/
/* Rules Modal Styles */
/*-----------------------------*/
.rules-modal__rules-list {
	line-height: 20px;
	padding-left: 15px;
}

.rules-list__item {
	margin-top: 25px;
}
/* End Rules Modal styles */

/*-----------------------------*/
/* Timeout Modal Styles */
/*-----------------------------*/
.timeout-modal__content-header {
	color: #c90835;
	text-align: center;
}

.timeout-modal__body {
	margin-top: 35px;
	text-align: center;
}
/* End Timeout Modal styles */

/*-----------------------------*/
/* Miscellaneous Styles */
/*-----------------------------*/
.vibrate-class-decrease {
	animation-name: vibrate;
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

.vibrate-class-increase {
	animation-name: vibrate;
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	color: green;
}

.color-class-red {
	color: #c90835;
}

.hide-content {
	display: none;
}

/* End Miscellaneous styles */

@media screen and (min-width: 480px) {
	.game-modal__content {
		width: 30%;
	}
}
