body {
	font-family: 'Josefin Sans', sans-serif;
}

@keyframes follow {
	0% {
		transform: rotate(0deg) translate(-110px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translate(-110px) rotate(-360deg);
	}
}

/*-----------------------------*/
/* Game Header Styles */
/*-----------------------------*/
.game-header {
	color: #000080;
	font-size: 30px;
	margin-top: 70px;
	text-align: center;
}

/* End game header styles */

/*-----------------------------*/
/* Primary Content Styles */
/*-----------------------------*/
.primary-content {
	margin-bottom: 50px;
	margin-top: 100px;
}

.game-controls__container {
	margin: 0 auto;
	text-align: center;
}

.game-circle {
	border: 20px solid #000080;
	border-radius: 200px;
	height: 200px;
	margin: 0 auto;
	width: 200px;
}

.game-circle__scorecard {
	line-height: 200px;
	font-size: 70px;
}

.game-circle__follow {
	animation-name: follow;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	height: 11px;
	left: 52%;
	margin: -20px;
	position: absolute;
	width: 11px;
	top: 330px;
}

.point {
	background-color: yellow;
	border: 5px solid yellow;
	border-radius: 11px;
	animation-duration: 10s;
	animation-play-state: paused;
}

.punt {
	display: none;
	background-color: orange;
	border: 5px solid orange;
}

.game-start .point {
	animation-play-state: running;
}

.game-buttons {
	margin-top: 50px;
}

.game-leaderboards {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 50%;
}

.game-leaderboards__table {
	border-collapse: collapse;
	width: 100%;
}

.game-leaderboards .game-leaderboards__table td:first-child {
	float: left;
}

.game-leaderboards .game-leaderboards__table td:last-child {
	float: right;
}

.game-leaderboards .game-leaderboards__table td {
	text-align: center;
}

.game-leaderboards .game-leaderboards__table tr {
	height: 40px;
}

/* End primary content styles */

/*-----------------------------*/
/* Light Switch Styles */
/*-----------------------------*/
.game-buttons__lights {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.game-buttons__lights input {
	display: none;
}

.game-buttons__lights-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.game-buttons__lights-slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .game-buttons__lights-slider {
	background-color: #86d993;
}

input:focus + .game-buttons__lights-slider {
	box-shadow: 0 0 1px #86d993;
}

input:checked + .game-buttons__lights-slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded game-buttons__lights-sliders */
.game-buttons__lights-slider.round {
	border-radius: 34px;
}

.game-buttons__lights-slider.round:before {
	border-radius: 50%;
}

/* End light switch styles */

/*-----------------------------*/
/* Reset Button Styles */
/*-----------------------------*/
.game-buttons__reset {
	background: #c90835;
	border-radius: 28px;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

/* End reset button styles */

/*-----------------------------*/
/* Lights Off Styles */
/*-----------------------------*/
.body-class.toggle-lights {
	background-color: #001f3f;
}

.toggle-lights .game-header {
	color: #EDCDC2;
}

.toggle-lights .game-circle {
	border-color: #5A7247;
}

.toggle-lights .game-leaderboards {
	color: #EDCDC2;
}

/* End lights off styles */

/*-----------------------------*/
/* Game Start Styles */
/*-----------------------------*/
.game-start .punt {
	animation-duration: 0.0000000000000001s;
	display: block;
}}
/* End game start styles */

@media screen and (min-width: 980px) {
	/* TODO:  */
}
