.body-class {
	font-family: 'Josefin Sans', sans-serif;
}

@keyframes follow {
	0% {
		transform: rotate(0deg) translate(-110px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translate(-110px) rotate(-360deg);
	}
}

/*-----------------------------*/
/* Game Header Styles */
/*-----------------------------*/
.header-content {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.game-header {
	color: #167F92;
	font-size: 25px;
	margin-top: 70px;
}

/* End game header styles */

/*-----------------------------*/
/* Primary Content Styles */
/*-----------------------------*/
.primary-content {
	margin-bottom: 50px;
	margin-top: 60px;
}

.greetings-container {
	margin-bottom: 10px;
	margin-top: 15px;
}

.highscore-container {
	color: #9400D3;
}

.game-controls__container {
	margin: 0 auto;
	text-align: center;
}

.game-buttons .reset-button {
	margin-left: 20px;
	max-width: 150px;
	width: 30%;
}

/* End primary content styles */

/*-----------------------------*/
/* Miscellaneous Styles */
/*-----------------------------*/
/* TODO: consolidate vibrate classes */
.vibrate-class-decrease {
	animation-name: vibrate;
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	color: #c90835;
}

.vibrate-class-increase {
	animation-name: vibrate;
	animation-duration: 1000ms;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	color: green;
}

.color-class-red {
	color: #c90835;
}

.hide-content {
	display: none;
}

/* End Miscellaneous styles */

@media screen and (min-width: 480px) {
	.game-modal__content {
		width: 30%;
	}
}
