/*-----------------------------*/
/* Button Styles */
/*-----------------------------*/
.button {
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    height: 40px;
    width: 40%;
}

.button:focus {
    outline: none;
}

.primary-button {
    background-color: #167F92;
    color: #fff;
}

.negative-button {
    background: #c90835;
    color: #fff;
}

/* End Button styles */
