/*-----------------------------*/
/* Endgame Modal Styles */
/*-----------------------------*/
.endgame-modal__body {
	text-align: center;
	font-size: 18px;
}

.endgame-modal__high-score {
	color: #9400D3;
	display: none;
	margin-top: 20px;
}

.endgame-modal.show-congratulations .endgame-modal__high-score {
	display: block;
}

/* End Endgame Modal styles */
