/*-----------------------------*/
/* Game Leaderboards Styles */
/*-----------------------------*/
.game-leaderboards {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 60%;
}

.game-leaderboards__table {
	border-collapse: collapse;
	width: 100%;
}

.game-leaderboards .game-leaderboards__table .row {
	display: flex;
	height: 55px;
	justify-content: space-around;
}

.game-leaderboards .game-leaderboards__table .row .name,
.game-leaderboards .game-leaderboards__table .row .score {
	margin: auto 0;
}

.game-leaderboards .game-leaderboards__table .row:nth-child(odd) {
	background-color: #EAF3F3;
}

.game-leaderboards .game-leaderboards__table th {
	background-color: #167F92;
	color: #fff;
}

.game-leaderboards__header {
	color: #167F92;
}

.game-leaderboards__current-location {
	margin-bottom: 15px;
}

/* End game leaderboards styles */
