/*-----------------------------*/
/* Lights Off Styles */
/*-----------------------------*/
.body-class.toggle-lights {
	background-color: #1F2739;
}

.toggle-lights .game-header {
	color: #EDCDC2;
}

.toggle-lights .game-leaderboards {
	color: #FB667A;
}

.toggle-lights .game-leaderboards .game-leaderboards__table tr:nth-child(odd) {
	background-color: #1F2739;
}

.toggle-lights .game-leaderboards .game-leaderboards__table th {
	background-color: #2c2c2c;
}

.toggle-lights .game-leaderboards__header {
	color: #EDCDC2;
}

.toggle-lights .game-score {
	color: #EDCDC2;
}

.toggle-lights .greetings-container {
	color: #EDCDC2;
}

/* End lights off styles */
