/*-----------------------------*/
/* Base Modal Styles */
/*-----------------------------*/
.game-modal {
	background: rgba(0, 0, 0, 0.8);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
}

.game-modal__content {
	background: #fff;
	left: 50%;
	max-width: 332px;
	position: absolute;
	padding: 20px;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}

.game-modal__content-header {
	color: #167F92;
	text-align: center;
}

.game-modal__content-button-container {
	margin-top: 40px;
	text-align: center;
}

/* End Base Modal styles */
