/*-----------------------------*/
/* Rules Modal Styles */
/*-----------------------------*/
.rules-modal__rules-list {
	line-height: 20px;
	padding-left: 15px;
}

.rules-list__item {
	margin-top: 25px;
}

.rules-modal__credentials-container {
	display: flex;
	justify-content: space-around;
	margin-top: 35px;
}

/* End Rules Modal styles */
