<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play QuickPress</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body class='body-class'>
<h1 class='game-header'>Welcome to QuickPress</h1>
<div class='primary-content'>
    <div class='game-controls__container'>

        <?xml version="1.0"?>
        <svg width="300" height="300"
             xmlns="http://www.w3.org/2000/svg" version="1.1"
             xmlns:xlink="http://www.w3.org/1999/xlink" class='game-circle'>
            <path d="M 150,
                    100 m -75,
                    0 a 75,
                    75 0 1,
                    0 150,0 a 75,
                    75 0 1,
                    0 -150,
                    0"
              stroke="lightgrey" stroke-width="10" fill="none" id="theMotionPath"/>

            <text x="138" y="115" font-family="Verdana" font-size="40" fill="blue" class='game-circle__scorecard'></text>

            <!-- Circle which will be moved along the motion path. -->
            <circle cx="" cy="" r="5" fill="#212121">
                <animateMotion dur="" repeatCount="indefinite" class='point'>
                    <mpath xlink:href="#theMotionPath"/>
                </animateMotion>
            </circle>

        </svg>

        <div class='game-buttons'>
            <label class="game-buttons__lights">
                <input type="checkbox">
                <span class="game-buttons__lights-slider round"></span>
            </label>
            <button type='button' class='game-buttons__reset'>Restart</button>
        </div>

    </div>

    <div class='game-leaderboards'>
        <h3 class='game-leaderboards__header'>Leader Boards</h3>
        <table class='game-leaderboards__table'>
            <tr>
                <th>Player</th>
                <th>Points</th>
            </tr>
            <tr>
                <td>John</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Alex</td>
                <td>21</td>
            </tr>
            <tr>
                <td>Jessica</td>
                <td>15</td>
            </tr>
            <tr>
                <td>Lindsey</td>
                <td>13</td>
            </tr>
            <tr>
                <td>Bob</td>
                <td>8</td>
            </tr>
            <tr>
                <td>Alberto</td>
                <td>10</td>
            </tr>
        </table>
    </div>
</div>
<script src="../js/app.js"></script>
</body>
</html>
