<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play QuickPress</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>
    <h1 class='game-header'>Welcome to QuickPress</h1>
    <div class='primary-content'>
        <div class='game-controls__container'>
            <div class='game-circle'>
                <span class='game-circle__scorecard'>15</span>
                <span class='game-circle__follow point'></span>
                <span class='game-circle__follow punt'></span>
            </div>
            <div class='game-lights'>
                <label class="game-lights__switch">
                  <input type="checkbox">
                  <span class="game-lights__switch-slider round"></span>
                </label>
            </div>
        </div>
        <div class='game-leaderboards'>
            <table class='game-leaderboards__table'>
                  <tr>
                    <th>Player</th>
                    <th>Points</th>
                  </tr>
                  <tr>
                    <td>John</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>Alex</td>
                    <td>21</td>
                  </tr>
                  <tr>
                    <td>Jessica</td>
                    <td>15</td>
                  </tr>
                  <tr>
                    <td>Lindsey</td>
                    <td>13</td>
                  </tr>
                  <tr>
                    <td>Bob</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <td>Alberto</td>
                    <td>10</td>
                  </tr>
                </table>
        </div>
    </div>
    <script src="../js/app.js"></script>
</body>
</html>
